<ion-header>
    <ion-toolbar>
        <ion-title>Employee</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="reset()">
                <ion-icon name="close" slot="icon-only" color="danger"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="setPage({ offset: 0 })">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <ion-item>
                    <ion-label position="floating">Search</ion-label>
                    <ion-input type="text" debounce="500" [(ngModel)]="search" (ionChange)="setPage({ offset: 0 })"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item>
                    <ion-label position="floating">Order state</ion-label>
                    <ion-select [(ngModel)]="jobTitle" [value]="0" interface="popover" (ionChange)="setPage({ offset: 0 })">
                        <ion-select-option>Any Job Title</ion-select-option>
                        <ion-select-option>Delivery Primary</ion-select-option>
                        <ion-select-option>Delivery Assistant</ion-select-option>
                        <ion-select-option>Warehouse Clerk</ion-select-option>
                        <ion-select-option>Customer Service</ion-select-option>
                        <ion-select-option>General Clerk</ion-select-option>
                        <ion-select-option>General Manager</ion-select-option>
                        <ion-select-option>WareHouse Manager</ion-select-option>
                        <ion-select-option>Shipping Manager</ion-select-option>
                        <ion-select-option>Admin</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="1">
                <ion-item>
                    <ion-label position="floating"> </ion-label>
                    <ion-select [(ngModel)]="numPerPage" [value]="25" interface="popover" (ionChange)="setPage({ offset: 0 })">
                        <ion-select-option [value]="25">25</ion-select-option>
                        <ion-select-option [value]="50">50</ion-select-option>
                        <ion-select-option [value]="100">100</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ngx-datatable
            class="material expandable margin"
            [rowHeight]="50"
            [rows]="orders"
            [headerHeight]="50"
            [footerHeight]="50"
            [columnMode]="columnMode"
            [trackByProp]="'updated'"
            [count]="total"
            [externalPaging]="true"
            [offset]="pageNumber"
            [limit]="numPerPage"
            [externalSorting]="true"
            [loadingIndicator]="loading"
            (page)="setPage($event)"
            (sort)="sort($event)"
            [scrollbarH]="true"
            [reorderable]="true"
            #table>
        <ngx-datatable-row-detail rowHeight="auto">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <p style="user-select: text;-webkit-user-select: text; margin: 0.5em; width: 100%">
                    Employee ID: {{row.emp_id}}
                    <br/>
                    Employee Hours: {{row.emp_hours}}
                    <br/>
                    Employee email: {{row.emp_email}}
                    <br/>
                    <ion-button fill="outline" [disabled]="!canViewPayment" (click)="viewPayment(row)">View Payment Details</ion-button>
                </p>
            </ng-template>
        </ngx-datatable-row-detail>
        <ngx-datatable-column [resizeable]="true" [sortable]="true" prop="emp_id" name="Employee ID">
            <ng-template let-row="row" ngx-datatable-cell-template let-expanded="expanded">
                <a class="table-link" (click)="toggleExpandRow(row)">{{row.emp_id}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="true" [sortable]="true" prop="emp_name" name="Employee Name">
            <ng-template let-row="row" ngx-datatable-cell-template let-expanded="expanded">
                <a class="table-link" (click)="toggleExpandRow(row)">{{row.emp_name}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="true" [sortable]="true" prop="emp_dob" name="Employee DOB">
            <ng-template let-row="row" ngx-datatable-cell-template let-expanded="expanded">
                <a class="table-link" (click)="toggleExpandRow(row)">{{getDate(row.emp_dob)}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="true" [sortable]="true" prop="emp_job_title" name="Employee Job title">
            <ng-template let-row="row" ngx-datatable-cell-template let-expanded="expanded">
                <a class="table-link" (click)="toggleExpandRow(row)">{{row.emp_job_title}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="true" [sortable]="true" prop="emp_phone" name="Employee Phone">
            <ng-template let-row="row" ngx-datatable-cell-template let-expanded="expanded">
                <a class="table-link" (click)="toggleExpandRow(row)">{{row.emp_phone}}</a>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</ion-content>
