<ion-header translucent>
    <ion-toolbar>
        <ion-title>
            Payment
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="close()" class="ion-float-right">
                <ion-icon color="danger" slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-grid>
    <ion-row>
        <ion-col size="6">
            <ion-item>
                <ion-label position="floating">Card</ion-label>
                <ion-input disabled="true" type="text" [value]="payment.card"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input disabled="true" type="text" [value]="payment.name"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="6">
            <ion-item>
                <ion-label position="floating">Expiry</ion-label>
                <ion-input disabled="true" type="text" [value]="payment.exp"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">CVC</ion-label>
                <ion-input disabled="true" type="text" [value]="payment.cvc"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
